.error {
    @apply text-pop font-medium text-sm;
}

.shake {
    animation: shake 350ms;
    @apply pt-1 flex items-center gap-2 pt-2
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}